- if @songs.blank?
  %h5
    Sorry, didn't find anything!
- else
  %table
    %tr.headers
      %th
        Song Title
      %th
        Album Title
      %th
        Artist Name
    - @songs.each do |song|
      %tr
        %td
          = song.title
        %td
          = song.album.title
        %td
          = song.artist.name

  = will_paginate @songs, params: { is_active: true }
